# dbt specific
target/
dbt_packages/
logs/
dbt_internal_packages/

# Airflow logs
infra_setup/airflow/logs/
infra_setup/airflow/*.log

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



# Python
__pycache__/


# Docker
.dockerignore


# Log files
*.log
.log


